In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [3]:
%matplotlib inline

In [4]:
#read excel file and change data type for columns: zip and CBSA to string
zip_cbsa = pd.read_excel('..\data\ZIP_CBSA_032020.xlsx', dtype ={'ZIP': 'str', 'CBSA': 'str'})
zip_cbsa.head()

     ZIP   CBSA  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  00501  35620        0.0        1.0        0.0        1.0
1  00601  38660        1.0        1.0        1.0        1.0
2  00602  10380        1.0        1.0        1.0        1.0
3  00603  10380        1.0        1.0        1.0        1.0
4  00604  10380        1.0        1.0        1.0        1.0

In [7]:
#keep columns 'ZIP' and 'CBSA' only
zip_cbsa = zip_cbsa.loc[:, ['ZIP', 'CBSA']]
zip_cbsa

         ZIP   CBSA
0      00501  35620
1      00601  38660
2      00602  10380
3      00603  10380
4      00604  10380
...      ...    ...
47410  99925  99999
47411  99926  99999
47412  99927  99999
47413  99928  28540
47414  99929  99999

[47415 rows x 2 columns]

In [8]:
zip_cbsa.shape

(47415, 2)

#find zip codes in CBSA 34980

In [9]:
zip_cbsa_34980 =zip_cbsa[zip_cbsa['CBSA']== '34980']
zip_cbsa_34980.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 16984 to 17990
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ZIP     157 non-null    object
 1   CBSA    157 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [7]:
uniq_zip_cbsa_34980 = zip_cbsa_34980['ZIP'].unique()
uniq_zip_cbsa_34980

array(['37010', '37011', '37012', '37013', '37014', '37015', '37016',
       '37018', '37020', '37022', '37024', '37025', '37026', '37027',
       '37029', '37030', '37031', '37032', '37035', '37036', '37037',
       '37043', '37046', '37048', '37049', '37051', '37052', '37055',
       '37056', '37057', '37060', '37062', '37063', '37064', '37065',
       '37066', '37067', '37068', '37069', '37070', '37071', '37072',
       '37073', '37074', '37075', '37076', '37077', '37080', '37082',
       '37083', '37085', '37086', '37087', '37088', '37089', '37090',
       '37091', '37095', '37101', '37110', '37115', '37116', '37118',
       '37119', '37121', '37122', '37127', '37128', '37129', '37130',
       '37131', '37132', '37133', '37135', '37138', '37141', '37143',
       '37145', '37146', '37148', '37149', '37150', '37151', '37152',
       '37153', '37160', '37165', '37166', '37167', '37171', '37172',
       '37174', '37179', '37180', '37181', '37184', '37186', '37187',
       '37188', '37189', '37190', '37201', '37202', '37203', '37204',
       '37205', '37206', '37207', '37208', '37209', '37210', '37211',
       '37212', '37213', '37214', '37215', '37216', '37217', '37218',
       '37219', '37220', '37221', '37222', '37224', '37227', '37228',
       '37229', '37232', '37234', '37235', '37236', '37238', '37240',
       '37242', '37243', '37246', '37250', '37357', '38401', '38402',
       '38451', '38454', '38461', '38472', '38474', '38476', '38482',
       '38483', '38487', '38547', '38548', '38552', '38560', '38563',
       '38567', '38569', '38588'], dtype=object)

In [8]:
zip_cbsa['zip'] = zip_cbsa['ZIP'].str.zfill(5)

In [9]:
zip_cbsa =zip_cbsa.drop(columns=['ZIP'])
#df.drop(columns=['B', 'C'])

In [10]:
zip_cbsa.to_csv('zip_cbsa.csv', index=False)

In [14]:
zip_cbsa_10580 =zip_cbsa[zip_cbsa['CBSA']== '10580']
zip_cbsa_10580.shape

(164, 2)

In [12]:
zip_cbsa_46540= zip_cbsa_46540['zip'].unique()
zip_cbsa_46540_list =zip_cbsa_46540.tolist()

NameError: name 'zip_cbsa_46540' is not defined

In [12]:
cbsa_35620=zip_cbsa[zip_cbsa['CBSA']== '35620']
cbsa_35620_ziplist=cbsa_35620.ZIP.tolist()